@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply leading-[150%] text-cust-black;
  }
  :not(h1, h2, h3, h4, h5, h6) {
    font-family: "Inter", sans-serif;
    @apply text-[16px] sm:max-xl:text-[24px];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Michroma", sans-serif;
  }
  h1 {
    @apply text-[32px] xl:text-[24px] sm:max-xl:text-[72px] font-bold;
  }

  h2 {
    @apply text-[24px] xl:text-[20px] sm:max-xl:text-[60px] font-bold;
  }

  h3 {
    @apply text-[20px] xl:text-[16px] sm:max-xl:text-[48px] font-bold;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-cust-gray-darker/25;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-cust-gray-darker rounded-md hover:bg-cust-gray-darker/40;
  }
}
